<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3" style="line-height: 0.8;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-dark fs-5" href="/app/config.html">
          Configuración
        </a>
      </li>
      </br>
      <li class="nav-item">
        <div class="nav-link text-dark fs-5">App</div>
        </br>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark fs-5" href="/app/retenciones.html">Retenciones</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-5" href="/app/IVA.html">IVA</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-5" href="/app/syncro.html">Sincronización</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-5" href="/app/libros.html">Libros Oficiales</a>
          </li>
          </br>
        </ul>
      </li>
    </ul>
  </div>
</nav>
