<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3" style="line-height: 0.8;">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-dark fs-5">Extensión</a></br>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/config.html">&nbsp;&nbsp;- Configuración</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/retenciones.html">&nbsp;&nbsp;- Retenciones</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/IVA.html">&nbsp;&nbsp;- IVA</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/syncro.html">&nbsp;&nbsp;- Sincronización</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/libros.html">&nbsp;&nbsp;- Libros Oficiales</a>
          </li>
          </br>
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/app/faq.html">&nbsp;&nbsp;- FAQ</a>
          </li>
          </br>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark fs-5">On-premise</a></br>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark fs-6" href="/onprem/config.html">&nbsp;&nbsp;- Configuración</a>
          </li>
          </br>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<script>
'use strict';

document.querySelectorAll('a.nav-link')
    .forEach(domContainer => {
        if (location.pathname == domContainer.getAttribute('href') ) {
            alert(location.pathname + ' --- ' + domContainer.getAttribute('href'));
            domContainer.classList.add('active');
        } else {
            if (domContainer.classList.contains('active')) {
                domContainer.classList.remove('active');
            }
        }
    });  
</script>